@font-face {
    font-family: "GTEestiProDisplay-Regular";
    src : url("../fonts/GTEestiProDisplay-Regular/GTEestiProDisplay-Regular.ttf"),
    url("../fonts/GTEestiProDisplay-Regular/GTEestiProDisplay-Regular.woff"),
    url("../fonts/GTEestiProDisplay-Regular/GTEestiProDisplay-Regular.woff2");
}
@font-face {
    font-family: "GTEestiProDisplay-Medium";
    src : url("../fonts/GTEestiProDisplay-Medium/GTEestiProDisplay-Medium.ttf"),
    url("../fonts/GTEestiProDisplay-Medium/GTEestiProDisplay-Medium.woff"),
    url("../fonts/GTEestiProDisplay-Medium/GTEestiProDisplay-Medium.woff2");
}
@font-face {
    font-family: "GTEestiProDisplay-Bold";
    src : url("../fonts/GTEestiProDisplay-Bold/GTEestiProDisplay-Bold.ttf"),
    url("../fonts/GTEestiProDisplay-Bold/GTEestiProDisplay-Bold.woff"),
    url("../fonts/GTEestiProDisplay-Bold/GTEestiProDisplay-Bold.woff2");
}
@font-face {
    font-family: "AktivGroteskCorp-Light";
    src : url("../fonts/AktivGroteskCorp-Light/AktivGroteskCorp-Light.ttf"),
    url("../fonts/AktivGroteskCorp-Light/AktivGroteskCorp-Light.woff"),
    url("../fonts/AktivGroteskCorp-Light/AktivGroteskCorp-Light.woff2");
}
@font-face {
    font-family: "AktivGroteskCorp-Regular";
    src : url("../fonts/AktivGroteskCorp-Regular/AktivGroteskCorp-Regular.ttf"),
    url("../fonts/AktivGroteskCorp-Regular/AktivGroteskCorp-Regular.woff"),
    url("../fonts/AktivGroteskCorp-Regular/AktivGroteskCorp-Regular.woff2");
}
